
.liked {
    background: url('../../../assets/icons/heartRed.png') no-repeat center center/cover;
    width: 17px;
    height: 17px;
}
.notLiked {
    background: url('../../../assets/icons/heartGrey.png') no-repeat center center/cover;
    width: 17px;
    height: 17px;
}
.bgr {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #A4ACB9;
    box-shadow: var(--btn-box-shadow);
    cursor: pointer;
}