.scanner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  max-height: 140rem;
  max-width: 860rem;
}
.scanTarget {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 95vw;
    max-width: 400px;
    position: relative;
    margin-top: 10rem;
  }
.scanTarget:after {
    content: '';
    width: 99.7%;
    height: 99.7%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255, 0.1);
    border-radius: 15px;
  }

  .leftside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    left: 0vw;
    position: absolute;
    content: '';
  }

  .leftside:before {
    content: "";
    position: absolute;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-top-left-radius: 15px;
    top: 0;
    left: 0;
    width: 25%;
    height: 25%;
    z-index: 2;
  }
  .leftside:after {
    content: "";
    position: absolute;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-bottom-left-radius: 15px;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 25%;
    z-index: 2;
  }

  .rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    right: 0vw;
    position: absolute;
    content: '';
  }

  .rightside:before {
    content: "";
    position: absolute;
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-top-right-radius: 15px;
    top: 0;
    right: 0;
    width: 25%;
    height: 25%;
    z-index: 2;
  }
  .rightside:after {
    content: "";
    position: absolute;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    border-bottom-right-radius: 15px;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 25%;
    z-index: 2;
  }

/* .scanTarget {
  width: 25rem;
  height: 15rem;
  border-radius: 7px;
  background: linear-gradient(to right, black 4px, transparent 4px) 0 0,
    linear-gradient(to right, black 4px, transparent 4px) 0 100%,
    linear-gradient(to left, black 4px, transparent 4px) 100% 0,
    linear-gradient(to left, black 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, black 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, black 4px, transparent 4px) 100% 0,
    linear-gradient(to top, black 4px, transparent 4px) 0 100%,
    linear-gradient(to top, black 4px, transparent 4px) 100% 100%;
    background-repeat: no-repeat;
  background: rgb(255, 255, 255, 0.15);
  background-size: 3rem 3rem;

  position: relative;
} */
/* .scanTarget::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 25rem;
    height: 15rem;
    border-radius: 7px;
    border-width: 2px 2px 0 0; 
    border-style: solid;
    border-color: #000;
    } */
