.scanner {
  position: absolute;
  top: 0;
  left: 50vw;
  transform: translateX(-50%);
  z-index: -1;
  height: 100vh;
  overflow: hidden;
  /* max-height: 100vh;
  max-height: 140rem; */
  /* max-width: 86rem; */
}
.scanTarget {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 95vw;
    max-width: 400px;
    position: relative;
    margin-top: 10rem;
  }
.scanTarget:after {
    content: '';
    width: 99.7%;
    height: 99.7%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255, 0.1);
    border-radius: 15px;
  }

  .leftside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    left: 0vw;
    position: absolute;
    content: '';
  }

  .leftside:before {
    content: "";
    position: absolute;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-top-left-radius: 15px;
    top: 0;
    left: 0;
    width: 25%;
    height: 25%;
    z-index: 2;
  }
  .leftside:after {
    content: "";
    position: absolute;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-bottom-left-radius: 15px;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 25%;
    z-index: 2;
  }

  .rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    right: 0vw;
    position: absolute;
    content: '';
  }

  .rightside:before {
    content: "";
    position: absolute;
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-top-right-radius: 15px;
    top: 0;
    right: 0;
    width: 25%;
    height: 25%;
    z-index: 2;
  }
  .rightside:after {
    content: "";
    position: absolute;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    border-bottom-right-radius: 15px;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 25%;
    z-index: 2;
  }
