.scanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
 
}

.scanTarget {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 90vw;
    max-width: 400px;
    position: relative;
    margin-top: 10rem;
  }
.scanTarget:after {
    content: '';
    width: 99.7%;
    height: 99.7%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255, 0.1);
    border-radius: 15px;
  }

  .leftside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    left: 0vw;
    position: absolute;
    content: '';
  }

  .leftside:before {
    content: "";
    position: absolute;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-top-left-radius: 15px;
    top: 0;
    left: 0;
    width: 25%;
    height: 25%;
    z-index: 2;
  }
  .leftside:after {
    content: "";
    position: absolute;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-bottom-left-radius: 15px;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 25%;
    z-index: 2;
  }

  .rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    right: 0vw;
    position: absolute;
    content: '';
  }

  .rightside:before {
    content: "";
    position: absolute;
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-top-right-radius: 15px;
    top: 0;
    right: 0;
    width: 25%;
    height: 25%;
    z-index: 2;
  }
  .rightside:after {
    content: "";
    position: absolute;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    border-bottom-right-radius: 15px;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 25%;
    z-index: 2;
  }
