.button {
    width: 10rem;
    height: 3rem;
    box-shadow: var(--btn-box-shadow);
    border-radius: 10px;
    color: var(--sec-text-color);
    margin: var(--prim-margin-top) 1rem 0;
    border: none;
    background: var(--main-theme-color);
}