.button {
    width: 10rem;
    height: 3rem;
    box-shadow: var(--btn-box-shadow);
    border-radius: 10px;
    color: var(--sec-text-color);
    margin-top: 1rem;
    border: none;
    background: var(--main-theme-color);
}