.form {
    margin-top: 10rem;
}

.label {
    font-weight: 650;
}

.input {
  height: max-content;
  padding: 0.3rem;
  width: 16rem;
  border-radius: 5px;
  background: rgb(255, 255, 255, 0.7);
  margin-top: var(--prim-margin-top);
  border: none;
  background: var(--bgr-input);
}


.ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}

.button {
    margin-top: 10rem;
}

.li {
    margin-bottom: 2rem;
}
