.wrap{
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: var(--content-border);
    padding: var(--sec-margin) 0;
}
/* .wrapNoMatch{
    background-color: var(--red-bgr);
}
.wrapMatch{
    background-color: var(--main-theme-bgr);
}
.wrapUnknownMatch{
    background-color: var(--orange-bgr);
} */

.wrap * {
    text-align: left;
}
.contentWrap {
    align-items: flex-start;
}

.li {
    text-align: left;
    width: 100%;
    margin: 0;
}
.details{
    width: 100%;
    margin-top: var(--sec-margin);
    /* padding: var(--sec-margin) 0; */
}
.h3 {
    text-align: left;
    margin-right: 1rem;
    width: 100%;
    padding: var(--sec-margin) 0;
}


.h4_Match{
    margin-top: var(--third-margin);
    color: var(--main-theme-color);
}
.h4_NoMatch{
    padding: var(--third-margin) 0;
    color: var(--red);
}
.h4_UnknownMatch{
    color: var(--orange);
}
.h4_noFilter{
    color: var(--grey);
}