:root {
    --bgr-main: #FFFFFF;
    --main-theme-color: #86C01C;
    --dark-green: #096A2E;
    --red:  #DA0217;
    --orange: #F1A239;
    --blue: #1F499B;
    --yellow:#FECB32;
    --light-blue: #5185E2;
    --main-text-color: #464646;
}