.wrap{
    margin-top: var(--prim-margin-top);
    width: 85%;
    max-width: 40rem;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 6px solid var(--grey);
    border-radius: 10px;
}

.wrap * {
    text-align: left;
}

.li {
    text-align: left;
    width: 100%;
}

.buttonsWrap {
    width: 33%;
    max-width: 40rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.productDetails{
    width: 33%;
    max-width: 40rem;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

