.wrap{
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: var(--content-border);
    padding: var(--sec-margin) 0;
}

.wrap * {
    text-align: left;
}
.contentWrap {
    align-items: flex-start;
}

.li {
    text-align: left;
    width: 100%;
    margin: 0;
}
.details{
    width: 100%;
    margin-top: var(--sec-margin);
    padding: var(--sec-margin) 0;
}
.h3 {
    text-align: left;
    margin-right: 1rem;
    width: 100%;
    padding: var(--sec-margin) 0;
}