.wrap{
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: var(--content-border);
    padding: var(--sec-margin) 0;
}

.wrap * {
    text-align: left;
}

.li {
    text-align: left;
    width: 100%;
    margin: 0;
}

.nameAndLikeBtn {
    width: 100%;
    max-width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.productDetails{
    width: 100%;
    margin-top: var(--sec-margin)
}

.h3 {
    margin-right: 1rem;
    max-width: 85%;
}