.wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.wrap * {
  transition: all 0.1s ease-in-out;
}

.categoryIcon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.categoryWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.optionIcon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.optionWrap,
.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--sec-margin) 0;
  border-top: 1px solid var(--grey)
}

.headerWrap{
    padding: var(--prim-margin-top) 0;
}

.optionIconAndName,
.CategoryIconAndName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.arrowDown {
  transform: rotate(90deg);
  width: 2rem;
  height: 2rem;
  margin: 0;
  cursor: pointer;
}

.arrowRight {
  margin: 0;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
