.containerNo {
    width: 100%;
    height: 6rem;
    background: rgb(218, 2, 23, .2);
}
.containerYes {
    width: 100%;
    height: 6rem;
    background: rgb(9, 106, 46, .2);
}
.containerUnknown {
    width: 100%;
    height: 4rem;
    background: rgb(241, 162, 57, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}