.error {
    position: absolute;
    top:auto;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    margin-top: .7rem;
    line-height: 1.8;
    color: var(--red);
    width: max-content;
  }