.header{
background: var(--bgr-third);
height: 5rem;
z-index: 100;
}

.button {
    width: 50%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    /* box-shadow: none; */
    color: var(--main-text);
    font-weight: var(--font-weight-text);
    background: var(--bgr-third);
    /* background: var(--main-theme-color); */
    box-shadow: none;
    border: 1px solid var(--bgr-sec);
  }