.button {
    width: 33%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    /* box-shadow: none; */
    color: var(--main-text);
    font-weight: var(--font-weight-text);
    background: var(--bgr-sec);
  }