.wrapper {
  width: 85vw;
  max-width: 43rem;
  height: 60vh;
  min-height: 45rem;
  max-height: 55rem;
  background: var(--bgr-main);
  box-shadow: 0 1px 8px rgb(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  border-radius: 25px;
  position: relative;
}

.xBtn{
  background: url("../../../assets/icons/x-symbol.svg") no-repeat center center/cover;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 3%;
  right: 5%;
}